
body {
  margin: 0 auto;
}


.center {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
}

.button {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

span {
  font-size: x-large;
  font-weight: 400;
}

button {
  padding: 1rem;
  border-radius: 1rem;
  background-color: black;
  color: white;
  cursor: pointer;
}
